.dialogs {
  padding: 0 0 0 10px;

  &__logo {
    // .dialog__logo
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 18px 0;

    h1 {
      font-family: $font-lexend;
      font-weight: 300;
      font-size: 24px;
      line-height: 33.6px;
      letter-spacing: 5%;
      margin-left: 22px;

      span {
        text-transform: uppercase;
        font-weight: 800;
      }
    }
  }

  &__search {
    // .dialog__search
    padding-right: 10px;
  }
}

.list {
  margin-top: 20px;
  padding-top: 4px;
  overflow-x: hidden;
  flex: 1 1 auto;

  &__container {
    // .list__container
    font-family: $font-inter;
  }

  &__dialog {
    // .list__dialog
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 12px 12px;
    // border: 2px solid transparent;

    // &:hover {
    //     border: 2px solid black;
    // }
  }

  &__info {
    // .list__info
    display: flex;

    img {
      max-width: 40px;
      max-height: 40px;
    }
  }

  &__text {
    // .list__text
    max-width: 260px;
    padding: 0 10px;

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-top: 8px;
    }
  }

  &__data {
    // .list__data
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px 0;
    font-weight: 400;
    font-size: 12px;
  }

  &__time {
    // .list__time
    align-self: end;
    text-align: center;
    min-width: 30px;
    color: $color-text-grey;
  }

  &__new-count {
    // .list__new-count
    align-self: center;
    position: relative;
    color: $color-light-white;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: $color-light-violet;
      border-radius: 50%;
      top: -4px;
      left: -6.5px;
      z-index: -1;
    }
  }
}
