.dialogs {
    padding: 0 10px 0 10px;
    //.dialogs__logo
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0px 18px 0px;
        h1 {
            font-family: "Lexend", sans-serif;
            font-weight: 300;
            font-size: 24px;
            line-height: 33.6px;
            letter-spacing: 5%;
            margin-left: 22px;
            span {
                text-transform: uppercase;
                font-weight: 800;
            }
        }
    }
}

.list {
    margin-top: 24px;
    overflow-x: scroll;
    overflow-x: hidden;
    //.list__container
    &__container {
        font-family: "Inter", sans-serif;
    }
    //.list__dialog
    &__dialog {
        display: flex;
        justify-content: space-between;
        padding: 12px 12px 12px 12px;
        border: 2px solid transparent;

        &:hover {
            border: 2px solid black;
        }
    }
    //.list__info
    &__info {
        display: flex;
        img {
            max-width: 40px;
            max-height: 40px;
        }
    }
    //.list__text
    &__text {
        max-width: 230px;
        padding: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        p {
            margin-top: 8px;
        }
    }
    //.list__data
    &__data {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px 0px;
        font-weight: 400;
        font-size: 12px;
    }
    //.list__time
    &__time {
        align-self: end;
        text-align: center;
        min-width: 30px;
        color: $color-text-grey;
    }
    //.list__new-count
    &__new-count {
        align-self: center;
        position: relative;
        color: $color-light-white;
        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: #5750a8;
            border-radius: 50%;
            top: -4px;
            left: -6.5px;
            z-index: -1;
        }
    }
}
