@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.another-kebab {
    width: 150px;
    top: 10px;
    left: 18px;
    @include max-screen(1390px) {
        left: -163px;
        // right: 145px;

    }
    //.another-kebab__row
    &__row {
        display: flex;
        align-items: center;
        padding: 8px;
        .title-h4 {
            color: $color-text-grey;
            margin-left: 7px;
        }
    }
}

.self-kebab {
    width: 150px;
    top: 10px;
    right: 18px;
    @include max-screen(1390px) {
        top: 10px;
        left: 18px;
    }
    //.self-kebab__row
    &__row {
        display: flex;
        align-items: center;
        padding: 8px;
        .title-h4 {
            color: $color-text-grey;
            margin-left: 7px;
        }
    }
}

.title-kebab {
    width: 243px;
    top: 8px;
    right: 20px;
    .title-h4 {
        color: $color-text-grey;
    }
    &__sound, &__out {
        padding: 10px 6px 10px 36px;
        position: relative;
    }
    &__sound {
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            left: 5px;
            top: 7px;
            background: url("../../images/chat-window/sound-on.png") center no-repeat;
        }
    }
    &__out {
        &::before {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            left: 5px;
            top: 7px;
            background: url("../../images/chat-window/exit-chat.png") center no-repeat;
        }
    }
}
