.chat-out {
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
        background-color: $color-white;
        border-radius: 8px;
        box-shadow: 1px 1px 4px 0px $box-shadow-modal-color;
        padding: 24px;
        width: 384px;
        display: flex;
        flex-direction: column;

        p {
            color: $color-black;
            margin-bottom: 24px;
        }
        button {
            width: 336px;
            padding: 10px;
            border-radius: 8px;
            background-color: $color-violet;
            color: $color-white;
            border: none;
        }
    }

    &__close {
        align-self: flex-end;
    }
    
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        //.copy__content
        background-color: $color-white;
        border-radius: 8px;
        box-shadow: 1px 2px 6px 0px $color-shadow-grey;
        padding: 36px;
        width: 365px;
        p {
            text-align: center;
        }
    }
}
