@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.messages {
    &__title {
        // .messages__title
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 4% 11px 2%;
        border-bottom: 1px solid $color-border-light-gray;
    }

    &__dialog-name {
        // .messages__dialog-name
        display: flex;
        align-items: center;
        padding: 12px;

        img {
            object-fit: contain;
        }
    }

    &__dialog-info {
        // .messages__dialog-info
        white-space: nowrap;
        margin-left: 12px;

        p {
            margin-top: 4px;
        }
    }

    &__search {
        // .messages__search
        display: flex;
        align-items: center;

        input {
            min-width: 364px;
            @include max-screen(1250px) {
                min-width: 200px;
            }
        }
    }

    &__info {
        // .messages__info
        margin-left: 12px;
        position: relative;
        img {
            width: 20px;
            height: 20px;
        }
    }

    &__window-mes {
        // .messages__window-mes
        flex: 1 1 auto;
        background: url(../../images/chat-window/background-chat.png) 50% / cover no-repeat;
        overflow-x: hidden;
    }

    &__input-mes {
        // .messages__input-mes
        width: 100%;
        padding: 20px 24px;
        border-top: 1px solid $color-border-light-gray;
    }
}

.window-mes {
    display: flex;
    flex-direction: column;
    padding: 12px 25px 12px 25px;
    gap: 12px;

    &__data {
        // .window-mes__data
        color: $color-light-grey;
        margin: 4px 0;
        align-self: center;
    }

    &__self {
        // .window-mes__self
        align-self: end;
        max-width: 630px;
    }

    &__another {
        // .window-mes__another
        align-self: flex-start;
        max-width: 630px;
    }
}

.another {
    &__title {
        // .another__title
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        h3 {
            margin-left: 18px;
            color: $color-black;
        }
    }

    &__message {
        // .another__message
        display: flex;

        img {
            object-fit: contain;
            width: 20px;
            height: 20px;
        }
    }

    &__kebab {
        position: relative;
        align-self: center;
    }

    &__text {
        // .another__text
        border-radius: 0 8px 8px 8px;
        background: $color-white;
        padding: 10px;
        min-width: 300px;
        display: flex;
        flex-direction: column;

        img {
            object-fit: contain;
            max-width: 275px;
        }

        .text-emoji-16-400 {
            color: $color-black;
        }

        span {
            text-align: right;
            color: $color-text-grey;
            margin-top: 3px;
        }
    }
}

.self {
    &__title {
        // .self__title
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 8px;

        img {
            margin-left: 18px;
        }
    }

    &__message {
        // .self__message
        display: flex;

        img {
            object-fit: contain;
            width: 20px;
            height: 20px;
        }
    }

    &__kebab {
        //.self__kebab
        position: relative;
        align-self: center;
    }

    &__text {
        // .self__text
        border-radius: 8px 0 8px 8px;
        background: $color-violet;
        padding: 10px;
        min-width: 300px;
        display: flex;
        flex-direction: column;

        .text-emoji-16-400 {
            color: $color-light-white;
        }

        .text-inter-12-400 {
            text-align: right;
            color: $color-light-white;
            margin-top: 3px;
        }
    }
}

.emoji-form {
    display: flex;
    align-items: flex-end;
    .emoji-submit {
        border: none;
        margin-bottom: 5px;
        border-radius: 8px;
        width: 30px;
        height: 30px;
        background: $color-light-violet url("../../images/chat-window/send.png") center no-repeat;
    }
}

//style emoji

.react-input-emoji--container {
    background: $color-grey !important;
    border-radius: 8px !important;
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
    &:focus-within {
        outline: 1px solid $color-light-violet;
        background-color: $color-white !important;
    }
}

.react-input-emoji--placeholder {
    color: $color-light-grey !important;
    font-family: $font-inter !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.react-input-emoji--input {
    font-family: $font-inter !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
    color: $color-black !important;
    &::-webkit-scrollbar {
        width: 12px !important;
    }

    &::-webkit-scrollbar-track {
        background: #cbcbce !important;
        background-clip: content-box !important;
        border: 4px solid transparent !important;
        border-radius: 24px !important;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-violet !important;
        background-clip: content-box !important;
        border: 4px solid transparent !important;
        border-radius: 24px !important;
    }
}

.react-input-emoji--button {
    align-self: flex-end !important;
    margin-bottom: 5px !important;
}
