.navigation {
    color: $color-light-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__folders {
        min-width: 120px;
    }

    &__settings {
        max-width: 120px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.folders {
    &__title {
        font-family: "Lexend", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }
    &__container {
    }
    &__folder {
        h4 {
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
}
