$color-light-white: #FCFCFC;
$color-grey: #EBEAEF;
$color-black: #272732;
$color-text-grey: #5B5B66;
$color-border-light-gray: #aba8d4;
$color-violet: #38328A;
$color-light-violet: #5750A8;
$color-light-grey:#7C7C85;

$font-lexend: "Lexend", sans-serif;
$font-inter: "Inter", sans-serif;
$font-roboto: "Roboto", sans-serif;