@import "./navigation/navigation.scss";
@import "./dialogs/dialogs.scss";
@import "./messages/messages.scss";

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.chat {
    .container-grid {
        display: grid;
        grid-template-columns: 192px 386px 1fr;

        @include max-screen(1250px) {
            grid-template-columns: 160px 284px 1fr;
        }

        @include max-screen(940px) {
            grid-template-columns: 72px 284px 1fr;
        }

    }

    &__navigation {
        // .chat__navigation
        height: 100vh;
        padding: 14vh 16px 7vh 16px;
        background: $color-violet;
        grid-column: 1 / 2;

        @media screen and (max-height: 790px) {
            padding: 20px 16px 10px 16px;
            min-height: 710px;
        }
    }

    &__dialogs {
        // .chat__dialogs
        height: 100vh;
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        border-right: 1px solid $color-border-light-gray;
        @media screen and (max-height: 790px) {
            min-height: 710px;
        }
    }

    &__messages {
        // .chat__messages
        height: 100vh;
        grid-column: 3 / 4;
        display: flex;
        flex-direction: column;
        @media screen and (max-height: 790px) {
            min-height: 710px;
        }
    }
}

.chat-loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-grey;

    .text-inter-18-600 {
        color: $color-violet;
        margin-top: 20px;
    }
}