@import "./navigation/navigation.scss";
@import "./dialogs/dialogs.scss";
@import "./messages/messages.scss";

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}


@mixin min-screen($res) {
    @media screen and (min-width: $res) {
        @content;
    }
}

@mixin min-screen-height($res) {
    @media screen and (min-height: $res) {
        @content;
    }
}



.chat {
    height: 100%;

    .container-grid {
        display: grid;
        height: 100%;
        grid-template-columns: 192px 386px 1fr;

        @include max-screen(1024px) {
            grid-template-columns: 80px 289px minmax(400px, 1fr);
        }

        @include max-screen(780px) {
            grid-template-columns: 80px minmax(400px, 1fr);
        }

        @include max-screen(503px) {
            grid-template-columns: minmax(312px, 503px);
            position: relative;
        }


    }

    &__navigation {
        // .chat__navigation
        padding: clamp(20px, 156px, 14svh) 16px clamp(20px, 80px, 7vh) 16px;
        padding: clamp(20px, 156px, 14svh) 16px clamp(20px, 80px, 7svh) 16px;
        background: var(--chat-navigation-background);
        z-index: 1;

        @include max-screen(503px) {
            position: absolute;
            transform: translateX(-100%);
            z-index: 2;
            width: 252px;
            padding: 20px 16px;
            min-height: 100%;
            transition: all .5s;
        }

        @include min-screen(504px) {
            transform: translateX(0%) !important;
        }

    }

    &__dialogs {
        // .chat__dialogs
        min-height: 100vh;
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        border-right: var(--border-right);
        background-color: var(--color-white-black);

        @include max-screen(780px) {
            border-right: none;
        }
    }

    &__messages {
        // .chat__messages
        min-height: 100vh;
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }
}

.chat-loader {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--loader-chat-back-color);

    .text-inter-18-600 {
        color: var(--color-lavender-white);
        margin-top: 20px;
    }
}

.open-navigation {
    transform: translateX(0%);
}
