@import "variables.scss";
@import "static-classes.scss";


@import "./navigation.scss";
@import "./dialogs.scss";
@import "messages.scss";

.chat {
    margin: 0 auto;
    .container-grid {
        display: grid;
        // grid-template-columns: 1fr 2fr 7fr;

        grid-template-columns: 192px 384px 1fr;
        // grid-template-columns: 1fr 2fr 7fr;
    }
    &__navigation {
        height: 100vh; //куда лупить высоту??
        padding: 10vh 0 10vh 0;
        background: rgb(15, 8, 101);
        background: linear-gradient(0deg, rgba(15, 8, 101, 1) 0%, rgba(87, 80, 168, 1) 100%);
        grid-column: 1 / 2;
    }
    &__dialogs {
        height: 100vh; //куда лупить высоту??

        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #aba8d4;
    }
    &__messages {
        height: 100vh; //куда лупить высоту??
        grid-column: 3 / 4;
        display: flex;
        flex-direction: column;
    }
}

