.authorization {
    &__log-in {
        // .authorization__log-in
        width: 100%;
        text-align: center;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        button {
            width: 100%;
            height: 60px;
            border: none;
            font-size: 20px;
            border-radius: 8px;
            font-weight: 600;
            transition: all .5s;

            &:first-child {
                color: $color-white;
                background-color: $color-violet;

                &:hover {
                    background-color: var(--backColor-hover);
                }
            }

            &:nth-child(3) {
                color: #272732;
                background: var(--sing-in-back-color);

                &:hover {
                    background: var(--sing-in-hover-back-color);
                }
            }
        }
    }

    .divider {
        // .authorization__divider
        display: flex;
        align-items: center;
        color: var(--divider-color);
        width: 100%;

        &::before,
        &::after {
            content: "";
            flex: 1;
            display: block;
            height: 1px;
            background: var(--divider-color);
        }

        span {
            flex-basis: 100px;
            text-align: center;
        }
    }
}
