.authorization {
    &__log-in {
        // .authorization__log-in
        width: 100%;
        text-align: center;
        border: 2px $color-violet solid;
        background-color: $color-violet;
        border-radius: 8px;

        button {
            width: 100%;
            height: 60px;
            color: $color-white;
            background-color: $color-violet;
            border: none;
            font-size: 20px;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                font-weight: $f-weight-700;
                background: linear-gradient(0deg, rgba(87, 80, 168, 0.20) 0%, rgba(87, 80, 168, 0.20) 100%), $color-violet;
            }
        }
    }

    &__divider {
        // .authorization__divider
        display: flex;
        align-items: center;
        color: var(--divider-span-color);
        width: 100%;

        &::before,
        &::after {
            content: "";
            flex: 1;
            display: block;
            height: 1px;
            background: var(--divider-color);
        }

        span {
            flex-basis: 100px;
            text-align: center;
        }
    }

    &__sing-in {
        // .authorization__sing-in
        width: 100%;
        text-align: center;
        border: 2px $color-light-violet solid;
        border-radius: 8px;

        button {
            width: 100%;
            height: 60px;
            color: var(--color-black-white);
            background-color: var(--color-white-black);
            border: none;
            font-size: 20px;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                font-weight: $f-weight-700;
            }
        }
    }
}
