.info {
  background-color: $color-violet;
  width: 35.42%;
  height: 100%;
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__block {
    // .info__block
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: $color-white;
    font-family: $font-lexend;
    h1 {
      font-size: $f-size-48;
      margin: 0 0 30px;
      text-shadow: black 2px 2px;
      font-weight: $f-weight-300;
      letter-spacing: 6px;
      span {
        font-weight: $f-weight-800;
      }
    }
    p {
      margin: 0 0 10px;
      font-size: 24px;
      font-family: $font-inter;
      font-weight: $f-weight-400;
    }
  }
  &__img {
    // .info__img
    img {
      width: 100%;
    }
  }
  &-feature {
    // .info-feature
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__title {
      // .info-feature__title
      border-left: 3px white solid;
      font-size: 20px;
      h2 {
        font-family: $font-lexend;
        font-weight: $f-weight-800;
        margin: 0 0 0 14px;
      }
      p {
        font-size: 20px;
        margin: 8px 0 0 14px;
      }
    }
  }
}