.info {
    background-color: $color-violet;
    width: 35.42%;
    min-height: 100%;
    padding: 120px 80px;

    &__block {
        // .info__block
        width: 100%;
        color: $color-white;
        font-family: $font-lexend;

        &-content {
            // .info__block-content
            .content {

                &__title {
                    // .content__title
                    font-size: 24px;
                    font-weight: $f-weight-300;
                    letter-spacing: 3.6px;
                    color: $color-white;

                    b {
                        font-weight: $f-weight-800;
                        margin-right: 8px;
                    }
                }

                &__description {
                    // .content__description
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    line-height: 140%;
                    font-weight: $f-weight-500;
                }

                &__img {
                    // .content__img
                    img {
                        width: 100%;
                    }
                }

                &__feature {
                    // .content__feature
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    &-block {
                        // .content__feature-block
                        border-left: 3px white solid;

                        .feature {

                            &__title {
                                // .feature__title
                                font-size: 18px;
                                line-height: 140%;
                                font-family: $font-lexend;
                                font-weight: $f-weight-800;
                                margin: 0 0 8px 14px;
                            }

                            &__description {
                                // .feature__description
                                font-weight: $f-weight-500;
                                line-height: 140%;
                                margin-left: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
