.modal-background {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal__content {
    width: 40%;
    position: absolute;
    border-radius: 16px;
    background-color: $color-light-grey;
    padding: 24px;
    margin-top: -30px;

    &-close {
        // .modal__content-close
        text-align: right;

        img {
            width: 28px;
        }
    }

    &-column {
        // .modal__content-column

        .title {
            color: $color-grey;
            font-family: $font-inter;
            font-size: 26px;
            font-weight: $f-weight-400;
            margin: 0 0 16px 0;
            text-align: center;
        }

        .sub-title {
            color: $color-grey;
            font-family: $font-inter;
            font-size: 20px;
            font-weight: $f-weight-400;
            margin: 0 0 16px 0;
            text-align: center;
        }

        .add-link {
            width: 100%;
            text-align: center;

            input {
                width: 100%;
                color: $color-grey;
                font-family: $font-inter;
                font-size: 20px;
                font-weight: $f-weight-500;
                padding: 8px 12px;
                border: none;
                background-color: rgba(235, 234, 239, 0.20);
                border-radius: 8px;
                outline: 0;
                text-align: center;
            }
        }

        .img {
            display: flex;
            flex-direction: column;
            margin: 0 0 24px 0;
        }

        .button {
            text-align: center;

            button {
                width: 100%;
                color: $color-grey;
                font-family: $font-inter;
                font-size: 20px;
                font-weight: $f-weight-500;
                padding: 8px 0;
                border: none;
                background-color: rgba(235, 234, 239, 0.20);
                border-radius: 8px;

            }
        }
    }

    &-columnLine {
        // .modal__content-columnLine
        width: 100%;
        height: 1px;
        background: rgba(171, 168, 212, 0.25);
        margin: 40px 0 28px 0;
    }
}
