.authorization__modal-content {
    width: 580px;
    position: absolute;
    border-radius: 8px;
    background-color: var(--modal-authorization-backColor);
    padding: 24px;
    margin-top: -264px;

    .content {

        &__form {
            // .content__form

            .modal-form {

                &__title {
                    // .modal-form__title
                    color: var(--color-black-white);
                    font-family: $font-inter;
                    font-size: 18px;
                    font-weight: $f-weight-400;
                    margin-bottom: 32px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                &__data {
                    // .modal-form__data
                    width: 100%;
                    margin-bottom: 20px;
                    border-radius: 8px;

                    input, textarea {
                        width: 100%;
                        padding: 16px 28px;
                        color: var(--color-black-white);
                        font-family: $font-inter;
                        font-size: 18px;
                        font-weight: $f-weight-500;
                        line-height: 140%;
                        border: var(--modal-data-border);
                        background-color: var(--backColor-white-grey);
                        border-radius: 8px;
                        outline: 0;
                        cursor: pointer;
                        transition: all .5s;

                        &::placeholder {
                            color: var(--color-black-grey);
                        }

                        &:focus {
                            border: var(--border-focus);
                        }
                    }

                    textarea {
                        resize: none;
                        max-height: 106px
                    }
                }

                &__error-message {
                    // .modal-form__error-message
                    color: #FE6262;
                    padding: 8px 0;
                    margin: -20px 0 10px 0;
                    text-align: center;
                }
            }
        }

        &__text-or {
            // .content__text-or
            color: var(--color-black-grey);
            text-align: center;
            font-family: $font-inter;
            font-size: 16px;
            font-weight: $f-weight-400;
            line-height: 140%;
            margin-bottom: 16px;
        }

        &__img {
            // .content__img
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .img {
                .dogs-img {
                    border: 4px solid transparent;
                    transition: all .5s;

                    &:hover {
                        border-radius: 50%;
                        border: 4px solid $color-blue;
                        cursor: pointer;
                    }
                }

                .active-img {
                    border: 4px solid $color-blue;
                }
            }
        }

        &__button {
            // .content__button
            text-align: center;
            margin-bottom: 16px;

            button {
                width: 100%;
                color: $color-white;
                font-family: $font-inter;
                font-size: 18px;
                font-weight: $f-weight-600;
                padding: 16px 0;
                border: none;
                background-color: #38328A;
                border-radius: 8px;
                cursor: pointer;
                transition: all .5s;

                &:hover {
                    background-color: var(--backColor-hover);
                }
            }
        }
    }
}

.loading-form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--loader-back-color);
    border-radius: 8px;
}

.loading-form {
    display: flex;
    align-items: center;
}
