@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.registration {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    background-color: var(--color-white-black);

    @include max-screen(940px) {
        width: 100%;
    }

    &__block-hiden {
        display: block;

        @include max-screen(940px) {
            display: none;
        }
    }

    .block-info {
        // .registration__block-info
        width: 100%;
        height: 20px;
        background: var(--chat-navigation-background);
        display: none;

        .info-block__settings {
            width: 100dvw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 5px 0 5px;

            .info-settings {

                &__content {
                    // .info-settings__content
                    display: none;

                    &.visibleinfo-settins {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: ease .5s ease-out;
                        row-gap: 20px;
                        color: #FFF;
                        text-align: center;
                    }

                    .info-content {

                        &__title {
                            // .info-content__title
                            display: flex;
                            flex-direction: row-reverse;
                            align-items: center;
                            padding-top: 20px;
                            font-size: 24px;
                            gap: 12px;
                            font-family: $font-lexend;
                            line-height: 140%;
                            letter-spacing: 1.2px;


                            h2 {
                                font-weight: $f-weight-300;

                                span {
                                    font-weight: $f-weight-800;
                                }
                            }
                        }

                        &__description {
                            // .info-content__description
                            display: flex;
                            flex-direction: column;
                            font-size: 18px;
                            padding: 0 10px 0 10px;
                            gap: 10px;
                            font-weight: 500;
                        }
                    }
                }

                &__buttons {
                    // .info-settings__buttons
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-around;
                    margin-top: 100px;
                }
            }
        }

        @include max-screen(940px) {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }

        @keyframes slideDown {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0);
            }
        }

        &.visibleInfo {
            animation: slideDown 0.5s ease-out;
            height: 100svh;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .info-show {
            width: 100%;
            height: 30px;
            display: flex;
            color: #FFF;
            justify-content: center;
            align-items: center;
            background: #38328A;
        }
    }

    &__block {
        // .registration__block

        &-language {
            // .registration__block-language
            display: flex;
            justify-content: flex-end;

            @include max-screen(940px) {
                display: none;
            }
        }

        &-form {
            // .registration__block-form
            width: clamp(480px, 25dvw, 680px);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 10px;

            @include max-screen(940px) {
                margin-top: -80px;
            }

            .form {
                &__logo-chat {
                    // .form__logo-chat
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    gap: 12px;
                    font-family: $font-lexend;
                    font-size: clamp(20px, 1.25dvw, 30px);
                    font-style: normal;
                    line-height: 140%;
                    letter-spacing: 1.2px;
                    color: var(--color-white-grey);
                    font-weight: $f-weight-300;

                    span {
                        font-weight: $f-weight-800;
                    }

                    img {
                        width: clamp(80px, 4dvw, 4dvw);
                    }
                }

                &__description {
                    // .form__description
                    text-align: center;
                    margin: 20px 0 16px;
                    font-family: $font-inter;
                    color: var(--color-black-white);

                    p {
                        font-size: 18px;
                        line-height: 140%;
                        letter-spacing: 0.36px;
                        font-weight: $f-weight-500;
                    }
                }

                &__input {
                    // .form__input
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    border-radius: 8px;
                    position: relative;

                    textarea {
                        resize: none;
                        max-height: 80px;
                        border-radius: 8px;
                        background-color: var(--color-white-black);
                        font-family: $font-inter;
                        border: 1px solid var(--form-input-border-color);
                        font-size: 16px;
                        padding: 17px 29px;
                        color: var(--color-darkGrey-white);

                        &:focus {
                            border: 2px solid var(--form-input-border-color);
                            outline: none;
                            padding: 16px 28px;
                        }

                        &::placeholder {
                            color: var(--color-darkGrey-white);
                        }
                    }

                    .loading-key-container {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 8px;
                    }

                    .loading-key {
                        display: flex;
                        align-items: center;
                    }
                }

                &__uniKey-error {
                    // .form__uniKey-error
                    text-align: center;
                    color: #FE6262;
                    padding-top: 5px;
                }

                &__enter {
                    // .form__enter
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 480px;

                    .enter {
                        &__title {
                            // .enter__title
                            color: var(--color-lightDarkGrey-white);
                            font-family: $font-lexend;
                            font-size: 18px;
                            font-weight: $f-weight-700;
                            line-height: 140%;
                            margin: 20px 0;
                            text-align: center;
                        }

                        &__description {
                            // .enter__description
                            color: var(--color-blue-yelow);
                            line-height: 140%;
                            letter-spacing: 0.36px;
                            margin-bottom: 16px;
                            text-align: center;
                        }

                        &__copy-key {
                            // .enter__copy-key
                            text-align: center;
                            width: 100%;
                        }
                    }
                }

                &__authorization {
                    // .form__authorization
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 24px;
                    z-index: 1;
                }
            }
        }

        &-theme {
            // .registration__block-theme
            position: absolute;
            right: 3dvw;
            bottom: 3svh;
            text-align: right;
            background: #38328A;
            border-radius: 8px;
            padding: 1px 2px;
            color: #FFF;

            @include max-screen(940px) {
                display: none;
            }
        }
    }

    &__container {
        // .registration__container
        height: calc(100svh - 156px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.language {
    @include max-screen(940px) {
        display: none;
    }

    &-buttons {
        // .language-buttons
        margin: 40px 3dvw 0 0;

        @include max-screen(940px) {
            margin: 0;
        }

        .active {
            width: 39px;
            height: 39px;
            padding: 8px;
            color: $color-white;
            background-color: $color-violet;
            border-radius: 8px;
            border: 0 solid;
            transition: all .5s;

            @include max-screen(940px) {
                background-color: #FFF;
                color: #2D2B66;
            }
        }

        .default {
            width: 39px;
            height: 39px;
            padding: 8px;
            color: var(--color-lightDarkGrey-white);
            background-color: var(--color-white-black);
            border-radius: 8px;
            border: 0 solid;
            cursor: pointer;
            transition: all .5s;

            @include max-screen(940px) {
                color: #FFF;
                background-color: #2D2B66;
            }
        }
    }
}

.language-settings,
.theme-settings {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}
