@import "./chat-kebab.scss";

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.dialogs {
    padding-left: 10px;

    &__logo {
        // .dialog__logo
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 16px 0;
        color: var(--color-white-grey);

        h1 {
            font-family: $font-lexend;
            font-weight: 300;
            font-size: 24px;
            line-height: 33.6px;
            letter-spacing: 1.2px;
            margin-left: 12px;

            span {
                text-transform: uppercase;
                font-weight: 800;
            }
        }
    }

    &__search {
        // .dialog__search
        padding-right: 10px;
    }
}

.list {
    margin-top: 20px;
    padding-top: 4px;
    overflow-x: hidden;
    flex: 1 1 auto;

    &__container {
        // .list__container
        display: flex;
        flex-direction: column;
    }

    &__dialog {
        // .list__dialog
        width: 365px;
        display: flex;
        justify-content: space-between;
        padding: 12px 10px 12px 12px;
        position: relative;

        @include max-screen(1250px) {
            width: 263px;
        }

        &:hover {
            border-radius: 8px;
            background: var(--color-lightGrey-violet);
        }
    }

    &__info {
        // .list__info
        display: flex;

        img {
            width: 52px;
            height: 52px;
            object-fit: cover;
            border-radius: 50%;
            align-self: center;
        }
    }

    &__text {
        // .list__text
        max-width: 260px;
        padding: 0 10px;

        @include max-screen(1250px) {
            max-width: 155px;
        }

        h3 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: var(--color-white-grey);
        }

        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-top: 8px;
            color: var(--list-text-p-color);
        }
    }

    &__data {
        // .list__data
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10px 0;
    }

    &__time {
        // .list__time
        align-self: end;
        text-align: center;
        min-width: 30px;
        color: $color-text-grey;
    }

    &__new-count {
        // .list__new-count
        color: $color-light-white;
        width: 31px;
        height: 21px;
        border-radius: 100px;
        background: $color-light-violet;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__flex {
        // .list__flex
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.active-chat {
    border-radius: 8px;
    background: var(--color-lightGrey-violet);
}
