/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.app_wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.registration_window {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info {
  background-color: #38328A;
  width: 33%;
  height: 100vh;
}
.info h1 {
  font-family: "Lexend", sans-serif;
  font-size: 44px;
  margin: 0;
  text-shadow: black 2px 2px;
  font-weight: 300;
  letter-spacing: 6px;
}
.info h1 span {
  font-weight: 800;
}
.info p {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.info_block {
  margin: 0 auto;
  padding: 80px;
  color: #FFFFFF;
}

.info_img {
  margin: 34px 0;
}
.info_img img {
  width: 25%;
}

.info_feature {
  margin: 10px auto 0;
  border-left: 3px white solid;
}
.info_feature h2 {
  margin: 40px 10px 10px;
}
.info_feature p {
  margin: 10px 10px 0;
  font-size: 18px;
}

.registration {
  width: 67%;
}

.registration_block {
  margin: 120px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.logo_chat h2 {
  font-size: 19px;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  letter-spacing: 0.95px;
}
.logo_chat h2 span {
  font-weight: 800;
}

.registration_block_description {
  width: 45%;
  text-align: center;
  margin: 30px auto 20px;
}
.registration_block_description p {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 2px;
  font-weight: 400;
}
.registration_block_description p span {
  font-weight: 700;
}

.registration_block_input {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: #EBEAEF;
  border-radius: 16px;
  margin: 0 auto 30px;
}
.registration_block_input input {
  font-family: "Montserrat", sans-serif;
  border: none;
  background-color: #EBEAEF;
  outline: 0;
  font-size: 20px;
}
.registration_block_input .img_radius {
  margin: 16px 16px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50%;
  padding: 18px;
}
.registration_block_input .img_radius img {
  width: 20px;
}

.registration_block_authorization {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap: 18px;
}
.registration_block_authorization span {
  position: relative;
  display: inline-block;
  color: #7C7C85;
}
.registration_block_authorization span::before, .registration_block_authorization span::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  background: #5750A8;
}
.registration_block_authorization span::before {
  right: 300%;
  left: -950%;
}
.registration_block_authorization span::after {
  left: 300%;
  right: -950%;
}
.registration_block_authorization .registration_logIn {
  border: 1px blue solid;
  background-color: #38328A;
  padding: 16px 120px;
  border-radius: 16px;
}
.registration_block_authorization .registration_logIn button {
  color: #FFF;
  width: 20rem;
  margin: 0 auto;
  background-color: #38328A;
  border: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}
.registration_block_authorization .registration_singIn {
  border: 2px #5750A8 solid;
  background-color: #fff;
  padding: 16px 120px;
  border-radius: 16px;
}
.registration_block_authorization .registration_singIn button {
  color: #5750A8;
  width: 20rem;
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 140%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*# sourceMappingURL=index.css.map */
