@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "variables.scss";
@import "static-classes";
@import "App";
@import "registrationWindow/registrationWindow";
@import "./chat-window/windowChat.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

// light theme styles
[data-theme = 'light'] {
    // static variables styles
    --color-white-grey: #272732;
    --color-white-black: #FFF;
    --color-lightGrey-grey: #EBEAEF;
    --color-lavender-white: #38328A;
    --color-darkGrey-white: #1B1F23;
    --border-color-lavender-white: 1px solid #38328A;
    --boxShadow-color: 1px 1px 4px 0 #706C9F;

    // windowChat.scss
    --chat-navigation-background: #38328A;
    --border-right: 1px solid #ABA8D4;
    // dialogs.scss
    --list-text-p-color: #5B5B66;
    --list-dialog-hover-back-color: #EBEAEF;
    // messagess.scss
    --window-message-background: url(../images/chat-window/background-chat-light.png) 50% / cover no-repeat;
    --message-self-text-back-color: #38328A;
    --messagess-info-color: #1B1F23;
    --messages-input-focus-outline: 1px solid #5750A8;
    --messages-input-focus-back-color: #FFF;
    // folder-kebab.scss
    --folder-kebab-color: #5B5B66;
    --folder-kebab-hover-color: #EAE9FF;
    // static-classes.scss
    --scroll-bar-back-color: #38328A;
    // chat-modal.scss
    --modal-chat-content-title-back-color: #FFF;
    // folder-modal.scss
    --modal-folder-search-borderBottom-color: 1px solid #8A8A98;
    --modal-folder-search-borderBottomFocus-color: 1px solid #272732;
    --modal-form-icon-back-color: #EAE9FF;
    --modal-icon-back-color: #FFF;
    --modal-icon-outline-color: 2px solid #38328A;
    --modal-form-chatCount-color: #38328A;
    // .settings-modal.scss
    --settings-user-input-color: #272732;
    --settings-user-borderBottom: 1px solid #272732;
    --settings-avatars-back-color: #EBEAEF;
    --settings-buttons-color: #7C7C85;
    --settings-modal-exit-back-color: #38328A;
    --settings-modal-exit-boxShadow: 1px 1px 4px 0 #706C9F;
    --settings-modal-exit-buttons-backHover-color: #FFF;
    // chat-kebab.scss
    --kebab-row-color: #5750A8;
}

// dark theme styles
[data-theme = 'dark'] {
    // static variables styles
    --color-white-grey: #FFF;
    --color-white-black: #1B1F23;
    --color-lightGrey-grey: rgba(91, 91, 102, 0.65);
    --color-lavender-white: #FFF;
    --color-darkGrey-white: #FFF;
    --border-color-lavender-white: 1px solid #FFF;
    --boxShadow-color: 1px 1px 4px 0 #38328A;

    // windowChat.scss
    --chat-navigation-background: linear-gradient(190deg, #38328A -40.12%, #000 199.12%);
    --border-right: 1px solid #38328A;
    // dialogs.scss
    --list-text-p-color: #BBB;
    --list-dialog-hover-back-color: rgba(171, 168, 212, 0.20);
    // messagess.scss
    --window-message-background: url(../images/chat-window/background-chat-dark.png) 50% / cover no-repeat;
    --message-self-text-back-color: rgba(56, 50, 138, 0.65);
    --messagess-info-color: #FFF;
    --messages-input-focus-outline: 1px solid #FFF;
    --messages-input-focus-back-color: rgba(91, 91, 102, 0.65);
    // folder-kebab.scss
    --folder-kebab-color: #FFF;
    --folder-kebab-hover-color: rgba(171, 168, 212, 0.20);
    // static-classes.scss
    --scroll-bar-back-color: #FFF44F;
    // chat-modal.scss
    --modal-chat-content-title-back-color: #1B1F23;
    // folder-modal.scss
    --modal-folder-search-borderBottom-color: 1px solid #272732;
    --modal-folder-search-borderBottomFocus-color: 1px solid #8A8A98;
    --modal-form-icon-back-color: #1B1F23;
    --modal-icon-back-color: rgba(91, 91, 102, 0.65);
    --modal-icon-outline-color: 2px solid #FFF;
    --modal-form-chatCount-color: #BBB;
    // .settings-modal.scss
    --settings-user-input-color: #BBB;
    --settings-user-borderBottom: 1px solid #BBB;
    --settings-avatars-back-color: rgba(171, 168, 212, 0.20);
    --settings-buttons-color: #FFF;
    --settings-modal-exit-back-color: #1B1F23;
    --settings-modal-exit-boxShadow: 1px 1px 4px 0 #FFF;
    --settings-modal-exit-buttons-backHover-color: rgba(171, 168, 212, 0.20);
    // chat-kebab.scss
    --kebab-row-color: #FFF;
}
