@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "variables.scss";
@import "static-classes";
@import "App";
@import "registrationWindow/registrationWindow";
@import "./chat-window/windowChat.scss";




body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

// light theme styles
[data-theme = 'light'] {
    // static variables styles
    --color-white-grey: #272732;
    --color-white-black: #FFF;
    --color-lightGrey-grey: #EBEAEF;
    --color-lightGrey-violet: #EBEAEF;
    --color-lavender-white: #38328A;
    --color-darkGrey-white: #1B1F23;
    --color-lightDarkGrey-white: #5B5B66;
    --color-violet-black: #EAE9FF;
    --color-black-white: #151515;
    --color-black-grey: #151515;
    --backColor-white-grey: #FFF;
    --border-color-lavender-white: 1px solid #38328A;
    --boxShadow-color: 1px 1px 4px 0 #706C9F;
    --backColor-hover: #201C59;

    // registration.scss
    --form-input-border-color: #3E3890;
    --enter-description-color: #3E3890;
    // copy-key.scss
    --input-copy-border: 4px solid #3E3890;
    // modal.scss
    --border-focus: 2px solid #3E3890;
    --loader-back-color: rgba(255, 255, 255, 0.5);
    --modal-authorization-backColor: #EAE9FF;
    --modal-data-border: 2px solid transparent;;
    // authorization.scss
    --divider-color: #5B5B66;
    --sing-in-back-color: rgba(234, 233, 255, 0.80);
    --sing-in-hover-back-color: rgba(202, 201, 232, 0.80);
    // windowChat.scss
    --chat-navigation-background: #38328A;
    --border-right: 1px solid #ABA8D4;
    --loader-chat-back-color: #EBEAEF;
    // dialogs.scss
    --list-text-p-color: #5B5B66;
    --dialogs-open-chat-backColor: #EAE9FF;
    // messages.scss
    --window-message-background: url(../images/chat-window/background-chat-light.png) 50% / cover no-repeat;
    --message-self-text-back-color: #38328A;
    --messages-input-focus-outline: 1px solid #5750A8;
    --messages-data-color: #7C7C85;
    --messages-edit-reply-back-color: linear-gradient(90deg, #E9E8F9 -19.24%, #F9F9FC 91.08%), #FFF;
    // folder-kebab.scss
    --folder-kebab-hover-color: #EAE9FF;
    //chat-kebab.scss
    --chat-kebab-hover-color: #EAE9FF;
    // static-classes.scss
    --scroll-bar-back-color: #38328A;
    --inactive-button-color: rgba(21, 21, 21, 0.60);
    --inactive-button-backColor: #EAE9FF;
    --close-registration-color: #EAE9FF;
    // folder-modal.scss
    --modal-folder-search-borderBottom-color: 1px solid #8A8A98;
    --modal-folder-search-borderBottomFocus-color: 1px solid #272732;
    --modal-icon-outline-color: 2px solid #38328A;
    --modal-form-chatCount-color: #38328A;
    --modal-folder-icon: url(../images/chat-window/add-folder-icon-light.png) center no-repeat;
    // .settings-modal.scss
    --settings-user-input-color: #272732;
    --settings-user-borderBottom: 1px solid #272732;
    --settings-buttons-color: #7C7C85;
    --settings-modal-exit-back-color: #38328A;
    --settings-modal-exit-boxShadow: 1px 1px 4px 0 #706C9F;
    --settings-modal-exit-buttons-backHover-color: #FFF;
    // chat-kebab.scss
    --kebab-row-color: #5750A8;
}

// dark theme styles
[data-theme = 'dark'] {
    // static variables styles
    --color-white-grey: #FFF;
    --color-white-black: #1B1F23;
    --color-lightGrey-grey: rgba(91, 91, 102, 0.65);
    --color-lightGrey-violet: rgba(171, 168, 212, 0.10);
    --color-lavender-white: #FFF;
    --color-darkGrey-white: #FFF;
    --color-lightDarkGrey-white: #FFF;
    --color-violet-black: #1B1F23;
    --color-black-white: #FFF;
    --color-black-grey: #BBB;
    --backColor-white-grey: rgba(91, 91, 102, 0.65);
    --border-color-lavender-white: 1px solid #FFF;
    --boxShadow-color: 1px 1px 4px 0 #38328A;
    --backColor-hover: #5750A8;

    // registration.scss
    --form-input-border-color: #BBB;
    --enter-description-color: #FFF44F;
    // copy-key.scss
    --input-copy-border: 2px solid #BBB;
    // modal.scss
    --border-focus: 2px solid #FFF;
    --loader-back-color: rgba(255, 255, 255, 0.1);
    --modal-authorization-backColor: #383B46;
    --modal-data-border: 2px solid #BBB;
    // authorization.scss
    --divider-color: #BBB;
    --sing-in-back-color: #A7A7C1;
    --sing-in-hover-back-color: #DCDCED;
    // windowChat.scss
    --chat-navigation-background: linear-gradient(190deg, #38328A -40.12%, #000 199.12%);
    --border-right: 1px solid #38328A;
    --loader-chat-back-color: #1B1F23;
    // dialogs.scss
    --list-text-p-color: #BBB;
    --dialogs-open-chat-backColor: #2D2B66;
    // messages.scss
    --window-message-background: url(../images/chat-window/background-chat-dark.png) 50% / cover no-repeat;
    --message-self-text-back-color: rgba(56, 50, 138, 0.65);
    --messages-input-focus-outline: 1px solid #38328A;
    --messages-data-color: #BBB;
    --messages-edit-reply-back-color: linear-gradient(90deg, #464750 -18.19%, #1B1F23 66.34%), #1B1F23;;
    // folder-kebab.scss
    --folder-kebab-hover-color: rgba(171, 168, 212, 0.20);
    //chat-kebab.scss
    --chat-kebab-hover-color: rgba(56, 50, 138, 0.65);
    // static-classes.scss
    --scroll-bar-back-color: #FFF44F;
    --inactive-button-color: #272732;
    --inactive-button-backColor: #C0C0D3;
    --close-registration-color: #5B5B66;
    // folder-modal.scss
    --modal-folder-search-borderBottom-color: 1px solid #8A8A98;
    --modal-folder-search-borderBottomFocus-color: 1px solid #FFF;
    --modal-icon-outline-color: 2px solid #FFF;
    --modal-form-chatCount-color: #BBB;
    --modal-folder-icon: url(../images/chat-window/add-folder-icon-dark.png) center no-repeat;
    // .settings-modal.scss
    --settings-user-input-color: #BBB;
    --settings-user-borderBottom: 1px solid #BBB;
    --settings-buttons-color: #FFF;
    --settings-modal-exit-back-color: #1B1F23;
    --settings-modal-exit-boxShadow: 1px 1px 4px 0 #FFF;
    --settings-modal-exit-buttons-backHover-color: rgba(171, 168, 212, 0.20);
    // chat-kebab.scss
    --kebab-row-color: #FFF;
}
