$color-light-white: #FCFCFC;
$color-white: #FFF;
$color-grey: #EBEAEF;
$color-black: #272732;
$color-light-black: #151515;
$color-text-grey: #5B5B66;
$color-background-light-grey: #92929A;
$color-border-light-gray: #ABA8D4;
$color-blue: #3E3890;
$color-violet: #38328A;
$color-violet-blue: #EAE9FF;
$color-light-violet: #5750A8;
$color-light-grey: #7C7C85;
$color-shadow-grey: #BDBAE0;
$color-red: #FE6262;
$color-yellow: #FFF44F;

$background-search-grey: rgba(235, 234, 239, 0.35);
$background-active-lilac: #EAE9FF;

$box-shadow-modal-color:#706C9F;

$font-lexend: "Lexend", sans-serif;
$font-inter: "Inter", sans-serif;
$font-emoji: 'Noto Color Emoji', sans-serif;

$f-size-48: 48px;
$f-weight-300: 300;
$f-weight-400: 400;
$f-weight-500: 500;
$f-weight-600: 600;
$f-weight-700: 700;
$f-weight-800: 800;
