.folder-modal {
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        // .folder-modal__content
        width: 480px;
        padding: 24px;
        background-color: var(--color-white-black);
        box-shadow: var(--boxShadow-color);
        border-radius: 8px;
    }

    &__header {
        // .folder-modal__header
        color: var(--color-white-grey);
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;

        .text-inter-18-600 {
            color: var(--color-white-grey);
        }
    }
}

.form {
    &__name-container {
        // .form__name-container
        display: flex;
        position: relative;
        padding: 8px;
    }

    &__icon-chose {
        // .form__icon-chose
        display: flex;
        width: 56px !important;
        height: 56px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        background: $color-violet;
        color: $color-white;
    }

    &__folder-name {
        // .form__folder-name
        margin-left: 8px;
        width: 352px;
        padding: 0 16px;
        border-radius: 8px;
        border: 1px solid transparent;
        background: var(--color-lightGrey-grey);
        color: var(--color-white-grey);

        &:focus-visible {
            outline: 1px solid $color-border-light-gray;
        }
    }

    &__icon {
        // .form__icon
        padding: 8px;
        width: 100%;
        border-radius: 8px;
        background: var(--modal-form-icon-back-color);
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__error {
        // .form__error
        color: $color-red;
        margin-left: 72px;
    }

    &__search-chat {
        // .form__search-chat
        margin-bottom: 16px;
        width: 100%;
        background: url(../../../images/chat-window/search.svg) 15px no-repeat;
        border: none;
        padding-left: 52px;
        height: 56px;
        border-bottom: var(--modal-folder-search-borderBottom-color);
        color: var(--color-white-grey);

        &:focus-visible {
            outline: none;
            border-bottom: var(--modal-folder-search-borderBottomFocus-color);
        }
    }

    input[type="submit"] {
        width: 100%;
        padding: 12px;
        text-align: center;
        background-color: $color-violet;
        color: $color-white;
        border-radius: 8px;
        border: none;
    }

    &__chat-container {
        // .form__chat-container
        margin-bottom: 16px;
        height: 349px;
        overflow-x: hidden;

        @media screen and (max-height: 790px) {
            height: 200px;
        }

        @media screen and (max-height: 570px) {
            height: 100px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__chat {
        // .form__chat

        &:hover {
            background-color: rgba(171, 168, 212, 0.20);
            border-radius: 8px;
        }

        label {
            display: flex;
            align-items: center;
            position: relative;
            padding: 8px;
        }

        .flex-container {
            align-items: center;
        }

        img {
            width: 52px;
            height: 52px;
            border-radius: 56px;
            object-fit: cover;
        }

        .text-inter-18-600 {
            color: var(--color-white-grey);
            line-height: 24.3px;
            margin-left: 16px;
        }

        input[type="checkbox"] {
            vertical-align: middle;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;

            &:checked {
                &::before {
                    content: '';
                    display: block;
                    width: 52px;
                    height: 66px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    background: url(../../../images/chat-window/add-folder-icon.png) center no-repeat;
                }
            }
        }
    }

    &__chat-count {
        // .form__chat-count
        color: var(--modal-form-chatCount-color);
        margin-bottom: 16px;
    }
}

.icon {
    color: var(--color-lavender-white);
    display: flex;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--modal-icon-back-color);

    &:hover {
        outline: var(--modal-icon-outline-color);
    }
}
