.info-about {

    &__title {
        // .info-about__title
        display: flex;
        justify-content: space-between;
        color: var(--color-darkGrey-white);

        h2 {
            line-height: 135%;
        }
    }

    &__description {
        // .info-about__description
        color: var(--color-darkGrey-white);

        .text-inter-14-400 {
            line-height: 135%;
        }

        ul {
            list-style-type: disc;
            padding-left: 22px;
        }

        .mt-16px {
            margin-top: 16px;
        }
    }
}