@import "./folder-modal.scss";
@import "./settings-modal.scss";
@import "./info-modal.scss";
@import "./folder-kebab.scss";
@import "./folder-delete-modal.scss";
@import "./chat-modal.scss";



@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}


.navigation {
    color: $color-light-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__folders {
        // .navigation__folders
    }

    &__settings {
        // .navigation__settings
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.folders {
    &__add {
        // .folders__add
        border-bottom: 1px solid $color-light-white;
    }

    &__container {
        // .folders__container
        margin: 4px 0;
        padding: 8px 4px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: $color-white;

        @include max-screen(940px) {
            gap: 16px;
        }
    }

    &__folder {
        // .folders__folder
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-bottom: 1px solid transparent;

        &:hover {
            color: $color-yellow;
        }

        @include max-screen(940px) {
            justify-content: center;
        }

        .ml-5px {
            @include max-screen(940px) {
                display: none;
            }
        }

        &_active {
            border-bottom: 1px solid $color-yellow;
            color: $color-yellow;
            @include max-screen(940px) {
                border-bottom: 1px solid transparent;
            }
        }
    }

    &__title {
        //.folders__title
        display: flex;
        gap: 8px;
        align-items: center;

        svg {
            @include max-screen(940px) {
                transform: scale(1.3);
            }
        }


        .text-inter-16-400 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100px;

            @include max-screen(1250px) {
                width: 70px;
            }

            @include max-screen(940px) {
                display: none;
            }
        }

        &-public {
            .text-inter-16-400 {
                @include max-screen(1250px) {
                    width: 80px;
                }
            }
        }
    }

    &__public-container {
        //.folders__public-container
        border-top: 1px solid $color-light-white;
        padding: 8px 4px;

    }

    &__public {
        //.folders__public
        color: $color-white;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid transparent;

        @include max-screen(940px) {
            justify-content: center;
            padding: 12px 0;
        }

        .text-inter-16-400 {

            @include max-screen(940px) {
                display: none;
            }
        }

        &:hover {
            color: $color-yellow;
        }

        &_active {
            border-bottom: 1px solid $color-yellow;
            color: $color-yellow;

            @include max-screen(940px) {
                border-bottom: 1px solid transparent;
            }
        }
    }

}

.add {

    //add__item
    &__item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8px 4px;
        width: 100px;

        @include max-screen(940px) {
            width: 100%;
            margin-left: 4px;
        }

        &_chat-svg {
            //.add__item_chat-svg
            margin-left: 3px;

            @include max-screen(940px) {
                margin-left: 3px;
            }
        }

        &:hover {
            color: $color-yellow;
        }

        h2 {
            margin-left: 8px;

            @include max-screen(940px) {
                display: none;
            }
        }

        svg {
            @include max-screen(940px) {
                transform: scale(1.3);
            }
        }
    }
}