@import "./folder-modal.scss";
@import "./settings-modal.scss";
@import "./info-modal.scss";
@import "./folder-kebab.scss";
@import "./folder-delete-modal.scss";
@import "./chat-modal.scss";
@import "./warning-modal.scss";

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.navigation {
    color: $color-light-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__settings {
        // .navigation__settings
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include max-screen(1024px) {
            gap: 13px;
        }
    }
}

.folders {
    position: relative;

    &__add {
        // .folders__add
        border-bottom: 1px solid $color-light-white;
        margin-right: 4px;
    }

    &__container {
        // .folders__container
        margin: 12px 0;
        padding: 0 4px 0 4px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: $color-white;
        max-height: calc(100vh - 450px);
        overflow-x: hidden;
        min-height: 200px;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: #EBEAEF26;
            background-clip: content-box;
            border: 4px solid transparent;
            border-radius: 24px;
        }

        &::-webkit-scrollbar-thumb {
            background: #fff;
            background-clip: content-box;
            border: 4px solid transparent;
            border-radius: 24px;
        }

        @include max-screen(1024px) {
            gap: 13px;
            padding: 0;
        }
    }

    &__folder {
        // .folders__folder
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include max-screen(1024px) {
            justify-content: center;

            .ml-5px {
                display: none;
            }

        }

        &_active {
            color: $color-yellow;
        }
    }

    &__title {
        //.folders__title
        display: flex;
        gap: 8px;
        align-items: center;

        @include max-screen(1024px) {

            svg {
                height: 32px;
                width: 32px;
            }

            .text-inter-16-400 {
                display: none;
            }
        }

        .text-inter-16-400 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 92px;
        }
    }

    &__public-container {
        //.folders__public-container
        border-top: 1px solid $color-light-white;
        margin-right: 4px;
        padding: 8px 4px;

        @include max-screen(1024px) {
            padding: 4px;
        }
    }

    &__public {
        //.folders__public
        color: $color-white;
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid transparent;

        @include max-screen(1024px) {
            justify-content: center;
            padding: 12px 0;

            .text-inter-16-400 {
                display: none;
            }
        }

        &_active {
            color: $color-yellow;
        }
    }
}

.add {

    &__item {
        // .add__item
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 8px 4px;
        width: 100px;
        transition: all .5s;

        @include max-screen(1024px) {

            svg {
                height: 34px;
                width: 34px;
            }

            h2 {
                display: none;
            }
        }

        &:hover {
            color: $color-yellow;
        }

        h2 {
            margin-left: 8px;
        }
    }
}