.settings {
    position: relative;

    &__container {
        // .settings__container
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content {
        // .settings__content
        width: 480px;
        box-shadow: 1px 1px 4px 0 #706c9f;
        border-radius: 8px;

        .loading-settings-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            backdrop-filter: blur(2px);
        }

        .loading-settings {
            display: flex;
            align-items: center;
        }

        .modal-exit__settings {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(2px);

            &-content {
                // .modal-exit__settings-content
                width: 480px;
                background-color: $color-violet;
                padding: 26px;
                border-radius: 8px;
                text-align: center;

                .exit-info {
                    color: $color-white;
                }

                .exit-buttons {
                    display: flex;
                    gap: 10px;

                    button {
                        width: 210px;
                        color: $color-violet;
                        line-height: 110%;
                        padding: 8px 22px;
                        border-radius: 8px;
                        border: 2px $color-white solid;
                        background-color: $color-white;
                        margin-top: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__settings {
        // .settings__settings
        background: $color-white;
        padding: 24px;
        border-radius: 8px;

        .nickname-error,
        .link-error {
            display: flex;
            align-items: center;
            color: red;
            padding: 8px 0;
            text-align: center;
            font-size: 12px;
            width: 100%;
        }

        .submit-active {
            line-height: 110%;
            font-weight: 600;
            padding: 8px 22px;
            border-radius: 8px;
            border: 2px $color-violet solid;
            background-color: $color-violet;
            margin-top: 16px;
            cursor: pointer;
        }

        .submit-inactive {
            line-height: 110%;
            font-weight: 600;
            padding: 8px 22px;
            border-radius: 8px;
            border: 2px solid transparent;
            background-color: $color-background-light-grey;
            margin-top: 16px;
        }
    }

    &__title {
        // .settings__title
        color: $color-black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    &__user-profile {
        // .settings__user-profile
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .text-inter-16-400 {
            width: 152px;
            color: $color-text-grey;
            border: none;
        }
    }

    &__user-photo {
        // .settings__user-photo
        .user-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
            background-color: $color-grey;
        }
    }

    &__user-data {
        // .settings__user-data
        margin-left: 16px;
        width: 100%;

        input {
            width: 100%;
            padding: 6px 0;
            border: none;
            border-bottom: 1px solid $color-black;
            color: $color-black;

            &:focus-visible {
                outline: 0;
            }
        }

        textarea {
            resize: none;
            max-height: 50px;
            width: 100%;
            margin-top: 16px;
            color: $color-light-black;
            line-height: 140%;
            border: none;
            border-bottom: 1px solid $color-black;
            outline: 0;
        }
    }

    &__standard-avatars {
        // .settings__standard-avatars
        background-color: $color-grey;
        padding: 8px 12px;
        margin-bottom: 16px;
        border-radius: 8px;

        .standard-img {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                color: $color-black;
                line-height: 140%;
            }
        }

        .images {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;

            .img {
                .dogs-img {
                    border: 4px solid transparent;

                    &:hover {
                        border-radius: 50%;
                        border: 4px solid $color-blue;
                        cursor: pointer;
                    }
                }

                .active-img {
                    border: 4px solid $color-blue;
                }
            }
        }
    }

    &__user-buttons {
        // .settings__user-buttons
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__buttons-language {
        // .settings__buttons-language
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__labels {
        // .settings__labels
        display: flex;
        flex-direction: column;
        gap: 16px;

        .labels {
            display: flex;

            &__label-language {
                // .labels__label-language
                display: flex;
                align-items: center;
                gap: 16px;

                p {
                    color: $color-black;
                    font-size: 16px;
                    line-height: 135%;
                    cursor: default;
                }
            }

            &__label-exit {
                // .labels__label-exit
                display: flex;
                gap: 16px;
                align-items: center;

                p {
                    color: $color-black;
                    font-size: 16px;
                    line-height: 135%;
                    cursor: pointer;
                }
            }
        }
    }

    &__buttons {
        // .settings__buttons
        color: $color-light-grey;

        input {
            display: none;
        }

        label {
            padding: 8px;
            border-radius: 8px;
            color: $color-light-grey;
            background-color: inherit;
        }

        .active {
            background: $color-violet;
            color: $color-white;
        }
    }
}
