.warning-folder {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        width: 480px;
        padding: 24px;
        background-color: $color-white;
        box-shadow: 1px 1px 4px 0px $box-shadow-modal-color;
        border-radius: 8px;
        color: $color-black;

        button {
            width: 100%;
            border-radius: 8px;
            background: $color-violet;
            padding: 10px;
            text-align: center;
            margin-top: 24px;
            border: none;
            color: $color-white;
            line-height: 24.3px;
        }

        .text-inter-16-400 {
            color: $color-black;
            text-align: center;
            line-height: 24.3px;
        }
    }
}