.warning {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        width: 480px;
        padding: 24px;
        background-color: var(--color-white-black);
        box-shadow: var(--boxShadow-color);
        border-radius: 8px;
        color: var(--color-white-grey);

        button {
            width: 100%;
            border-radius: 8px;
            background: $color-violet;
            padding: 10px;
            text-align: center;
            margin-top: 24px !important;
            border: none;
            color: $color-white !important;
            line-height: 24.3px;
            transition: all .5s;

            &:hover {
                background: var(--backColor-hover);
            }
        }

        .text-inter-16-400 {
            color: var(--color-white-grey);
            text-align: center;
            line-height: 24.3px;
        }
    }
}
