@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.another-kebab {
    width: 150px;
    top: 2px;
    left: 18px;
    background-color: var(--color-white-black);

    @include max-screen(1024px) {
        left: -147px;
    }

    &__row {
        // .another-kebab__row
        display: flex;
        align-items: center;
        padding: 8px;
        gap: 7px;
        color: var(--color-lightDarkGrey-white);
        border-radius: 8px;
        transition: all .5s;

        &:hover {
            background: var(--folder-kebab-hover-color);
        }
    }

    &__copy-incognito {
        // .another-kebab__copy
        background: var(--color-violet-black);
        box-shadow: var(--self-copy-boxShadow);
        color: var(--color-lightDarkGrey-white);
        text-align: center;
        width: 150px;
        padding: 5px;
        border-radius: 8px;
        position: absolute;
        top: 63px;
        left: 18px;
        z-index: 3;

        @include max-screen(1024px) {
            left: -147px;
        }
    }
}

.self-kebab {
    width: 150px;
    top: 2px;
    right: 18px;
    background-color: var(--color-white-black);

    @include max-screen(1024px) {
        left: 18px;
    }

    &__row {
        // .self-kebab__row
        display: flex;
        align-items: center;
        padding: 8px;
        gap: 7px;
        color: var(--color-lightDarkGrey-white);
        border-radius: 8px;
        transition: all .5s;

        &:hover {
            background: var(--folder-kebab-hover-color);
        }
    }
}

.title-kebab {
    position: fixed;
    width: 182px;
    top: 19px;
    right: 45px;

    @include max-screen(1024px) {
        top: 5px;
        right: 38px;
    }

    &__out {
        // .title-kebab__out
        border-radius: 8px;
        padding: 8px 6px;
        display: flex;
        align-items: center;
        gap: 7px;
        color: var(--color-lightDarkGrey-white);
        transition: all .5s;

        &:hover {
            background: var(--folder-kebab-hover-color);
        }
    }
}