.input-mes {
    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        position: relative;
        gap: 16px;
        padding: 20px 24px;
        @include max-screen(503px) {
            padding: 12px;
        }

        .text-inter-16-400 {
            width: 100%;
            height: 42px;
            max-height: 80px;
            border: none;
            resize: none;
            border-radius: 8px;
            background: var(--color-lightGrey-grey);
            padding: 10px 15px;
            line-height: 21.6px;
            color: var(--color-darkGrey-white);

            &:focus {
                outline: var(--messages-input-focus-outline);
                background-color: var(--backColor-white-grey);
            }
            @include max-screen(503px) {
                padding: 10px;
            }
        }
    }

    &__button-active {
        // .input-mes__button-active
        border: none;
        margin-bottom: 3px;
        border-radius: 8px;
        min-width: 35px;
        height: 35px;
        align-self: flex-end;
        background: $color-violet url("../../../images/chat-window/send.png") center no-repeat;
        transition: all .5s;

        &:hover {
            background: var(--backColor-hover) url("../../../images/chat-window/send.png") center no-repeat;
        }
    }

    &__button-disabled {
        // .input-mes__button-disabled
        border: none;
        margin-bottom: 3px;
        border-radius: 8px;
        min-width: 35px;
        height: 35px;
        align-self: flex-end;
        background: #7C7C85 url("../../../images/chat-window/send.png") center no-repeat;
    }
}

.no-member {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 20px 24px;
    @include max-screen(503px) {
        padding: 12px;
    }

    .text-inter-18-600 {
        border: none;
        width: 100%;
        height: 100%;
        color: $color-light-white;
        background-color: $color-violet;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        line-height: 24.3px;
        transition: all .5s;

        &:hover {
            background-color: var(--backColor-hover);
        }
        

    }
}

.edit-reply {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background: var(--messages-edit-reply-back-color);
    width: 100%;
    color: var(--color-white-grey);

    svg {
        min-height: 23px;
        min-width: 23px;
        align-self: center;
    }

    &__info {
        // .edit-reply__info
        display: flex;
        align-items: center;
        gap: 12px;
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: wrap;

        .text-inter-18-600 {
            line-height: 24.3px;
            white-space: nowrap;
        }

        .text-inter-16-400 {
            line-height: 21.6px;
        }
    }
}

.loading-sendmess {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;

    &__content {
        // .loading-sendmess__content
        display: flex;
        align-items: center;
    }
}