.modal-chat {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        // .modal-chat__content
        background-color: var(--color-white-black);
        border-radius: 8px;
        box-shadow: var(--boxShadow-color);
        padding: 24px;
        width: 480px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        button {
            width: 100%;
            padding: 10px;
            border-radius: 8px;
            background-color: $color-violet;
            color: $color-white;
            border: none;

            &:hover {
                background-color: var(--backColor-hover);
            }
        }
    }

    &__header {
        // .modal-chat__header
        display: flex;
        justify-content: space-between;
        color: var(--color-white-grey);

        .text-inter-16-600 {
            line-height: 24.3px;
        }
    }

    .flex-container {
        justify-content: start;
        align-items: center;
        gap: 16px;

        img {
            width: 56px;
            height: 56px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__about {
        // .modal-chat__about
        display: flex;
        flex-direction: column;
        gap: 3px;
        max-width: 350px;

        .text-inter-14-400 {
            color: var(--list-text-p-color);
        }

        .text-inter-16-600 {
            color: var(--color-white-grey);
        }
    }
}

.modal-copy {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        // .modal-copy__content
        background-color: var(--color-white-black);
        opacity: 0.9;
        border-radius: 8px;
        box-shadow: var(--boxShadow-color);
        padding: 20px;
        width: 380px;

        .text-inter-16-600 {
            color: var(--list-text-p-color);
            text-align: center;
        }
    }
}

.modal-delete-message {
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        // .modal-delete-message__content
        background-color: var(--color-white-black);
        border-radius: 8px;
        box-shadow: var(--boxShadow-color);
        padding: 24px;
        width: 480px;
        color: var(--color-white-grey);
    }

    &__header {
        // .modal-delete-message__header
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;

        button {
            width: 210px;
            line-height: 135%;
            padding: 10px;
            border-radius: 8px;
            border: none;
            transition: all .5s;

            &:first-child {
                color: #272732;
                background-color: var(--modal-exit-backColor);

                &:hover {
                    background-color: var(--modal-exit-hover);
                }
            }

            &:nth-child(2) {
                color: #FFF;
                background-color: #38328A;
                &:hover {
                    background-color: var(--backColor-hover);
                }
            }
        }
    }

    .text-inter-18-400 {
        line-height: 24.3px;
        letter-spacing: 0.9px;
        margin-bottom: 24px;
    }
}

.user-typing {
    display: flex;
    gap: 6px;
    align-items: flex-end;
}

.dotsUI {
    --uib-size: 13px;
    --uib-color: black;
    --uib-speed: 1.6s;
    --uib-dot-size: calc(var(--uib-size) * 0.18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--uib-size) * 0.5);
    width: var(--uib-size);

    .dot {
        flex-shrink: 0;
        width: calc(var(--uib-size) * 0.17);
        height: calc(var(--uib-size) * 0.17);
        border-radius: 50%;
        background-color: var(--color-darkGrey-white);
        transition: background-color 0.3s ease;
    }

    .dot:nth-child(1) {
        animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.45) infinite;
    }

    .dot:nth-child(2) {
        animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.3) infinite;
    }

    .dot:nth-child(3) {
        animation: jump var(--uib-speed) ease-in-out calc(var(--uib-speed) * -0.15) infinite;
    }

    .dot:nth-child(4) {
        animation: jump var(--uib-speed) ease-in-out infinite;
    }

    @keyframes jump {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-200%);
        }
    }
}