.search__error-message {
    position: absolute;
    top: 68px;
    color: #FE6262;
    padding: 6px 0 0 0;
    font-size: 14px;
}

.input-container {
    transform: translateX(262px);
    transition: all .5s;

    @include max-screen(1250px) {
        transform: translateX(112px);
    }

    @include max-screen(1024px) {
        transform: translateX(162px);
    }

    @include max-screen(503px) {
        transform: translateX(65px);
        background-color: #38328A;

    }
}

.input-content {
    border-radius: 8px;
    cursor: text;
    display: flex;
    align-items: center;
    height: 40px;
    width: 300px;

    @include max-screen(1250px) {
        width: 150px;
    }

    @include max-screen(1024px) {
        width: 200px;
    }

    @include max-screen(503px) {
        width: 100px;
    }
}

.input {
    width: 100%;
    height: 100%;
    background: transparent;
    margin-left: 12px;
    border: none;
    color: var(--color-white-grey);
    transform: scale(0);
    transition: all .5s;

    &:focus-visible {
        outline: none;
    }

}

.input-icon {
    color: #8A8A98;
    margin-left: 16px;
    color: var(--color-lightDarkGrey-white);
    cursor: pointer;
    min-height: 22px;
    min-width: 22px;
}

.icon-close {
    min-width: 24px;
    min-height: 24px;
    display: none;
    color: #FFF;
}

.active-search {
    transform: translateX(3%);
    z-index: 2;
    .input-content {
        background: var(--color-lightGrey-grey);
        border: var(--border-color-lavender-white);
    }

    .input-icon {
        color: var(--color-lavender-white);
    }

    .input {
        transform: scale(1);
    }
}

@include max-screen(503px) {
    .active-search {
        position: fixed;
        display: flex;
        align-items: center;
        gap: 10px;
        left: 16px;
        z-index: 2;
        transform: translateX(0%);

        .input-content {
            width: calc(100vw - 70px);
            height: 45px;
        }

        .icon-close {
            display: block;
        }
    }

    .input-icon {
        color: #FFF;
    }
}