@import "./mes-kebab.scss";
@import "./mes-modal.scss";

@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}

.messages {
    &__title {
        // .messages__title
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 4% 11px 2%;
        border-bottom: var(--border-right);
        background-color: var(--color-white-black);
    }

    &__dialog-name {
        // .messages__dialog-name
        display: flex;
        align-items: center;
        padding: 12px;

        img {
            width: 52px;
            height: 52px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    &__dialog-info {
        // .messages__dialog-info
        white-space: nowrap;
        margin-left: 12px;
        color: var(--color-darkGrey-white);

        p {
            margin-top: 4px;
        }
    }

    &__search {
        // .messages__search
        display: flex;
        align-items: center;

        form {
            min-width: 364px;

            @include max-screen(1250px) {
                min-width: 200px;
            }
        }
    }

    &__info {
        // .messages__info
        margin-left: 12px;
        position: relative;
        color: var(--color-lightDarkGrey-white);
    }

    &__window-mes {
        // .messages__window-mes
        flex: 1 1 auto;
        background: var(--window-message-background);
        overflow-x: hidden;
    }

    &__input-mes {
        // .messages__input-mes
        width: 100%;
        padding: 20px 24px;
        border-top: var(--border-right);
        background-color: var(--color-white-black);
    }

    &__start {
        // .messages__start
        height: 100%;
        background: var(--window-message-background);
        display: flex;
        align-items: center;
        justify-content: center;

        .text-inter-16-400 {
            width: 336px;
            padding: 18px 0;
            text-align: center;
            border-radius: 8px;
            background-color: rgba(124, 124, 133, 0.30);
            line-height: 21.6px;
            color: var(--color-lightDarkGrey-white);
        }
    }

    &__no-messages {
        // .messages__no-messages
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .text-inter-16-400 {
            width: 336px;
            padding: 18px 0;
            text-align: center;
            border-radius: 8px;
            background-color: rgba(124, 124, 133, 0.30);
            line-height: 21.6px;
            color: var(--color-lightDarkGrey-white);
        }
    }

}

.window-mes {
    display: flex;
    flex-direction: column;
    padding: 12px 25px 12px 25px;
    gap: 12px;

    &__data {
        // .window-mes__data
        color: var(--messages-data-color);
        margin: 4px 0;
        align-self: center;
        text-transform: capitalize;
    }

    &__self {
        // .window-mes__self
        align-self: end;
        max-width: 630px;
    }

    &__another {
        // .window-mes__another
        align-self: flex-start;
        max-width: 630px;
    }

    &__new-mess {
        padding: 10px 15px;
        color: var(--messages-data-color);
        display: flex;
        align-items: center;
        width: 100%;
        .text-inter-16-400 {
            display: block;
            padding: 0 20px;
        }
        &::before {
            content: "";
            flex: 1 1;
            display: block;
            height: 1px;
            background: var(--messages-data-color);
        }
        &::after {
            content: "";
            flex: 1 1;
            display: block;
            height: 1px;
            background: var(--messages-data-color);
        }
    }
}

.another {
    &__title {
        // .another__title
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        gap: 18px;

        h3 {
            color: var(--color-darkGrey-white);
        }
    }

    &__message {
        // .another__message
        display: flex;

        img {
            object-fit: contain;
            width: 20px;
            height: 20px;
        }
    }

    &__kebab {
        // .another__kebab
        position: relative;
        align-self: center;
    }

    &__kebab-icon {
        color: var(--color-lightDarkGrey-white);
    }

    &__text {
        // .another__text
        border-radius: 0 8px 8px 8px;
        background: var(--backColor-white-grey);
        padding: 10px;
        min-width: 150px;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        white-space: pre-wrap;

        @include max-screen(1250px) {
            max-width: 400px;
        }

        img {
            object-fit: contain;
            max-width: 275px;
        }

        .text-inter-16-400 {
            color: var(--color-darkGrey-white);
            overflow-wrap: break-word;
        }

        span {
            text-align: right;
            color: var(--color-darkGrey-white);
            margin-top: 3px;
        }
    }
}

.self {
    &__title {
        // .self__title
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 8px;
        color: var(--color-darkGrey-white);
        gap: 18px;
    }

    &__message {
        // .self__message
        display: flex;

        img {
            object-fit: contain;
            width: 20px;
            height: 20px;
        }
    }

    &__kebab {
        //.self__kebab
        position: relative;
        align-self: center;
    }

    &__kebab-icon {
        color: var(--color-lightDarkGrey-white);
    }

    &__text {
        // .self__text
        border-radius: 8px 0 8px 8px;
        background: var(--message-self-text-back-color);
        padding: 10px;
        min-width: 150px;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        white-space: pre-wrap;
        &_no-sent {
            background: #5750A8;
        }

        @include max-screen(1250px) {
            max-width: 400px;
        }

        .text-inter-16-400 {
            color: $color-white;
            overflow-wrap: break-word;
        }

        .text-inter-12-400 {
            text-align: right;
            color: $color-white;
            margin-top: 3px;
        }
    }
}


.input-mes {
    &__form {
        display: flex;
        position: relative;

        .text-inter-14-400 {
            width: 100%;
            max-height: 80px;
            border: none;
            resize: none;
            border-radius: 8px;
            background: var(--color-lightGrey-grey);
            padding: 10px 15px;
            line-height: 21.6px;
            color: var(--color-darkGrey-white);

            &:focus {
                outline: var(--messages-input-focus-outline);
                background-color: var(--backColor-white-grey);
            }
        }

    }

    &__button {
        // .input-mes__button
        border: none;
        margin-left: 16px;
        margin-bottom: 7px;
        border-radius: 8px;
        width: 29px;
        height: 29px;
        align-self: flex-end;
        background: $color-violet url("../../../images/chat-window/send.png") center no-repeat;

        &:hover {
            background: var(--backColor-hover) url("../../../images/chat-window/send.png") center no-repeat;
        }
    }
}

.no-member {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

    .text-inter-18-600 {
        border: none;
        width: 100%;
        height: 100%;
        color: $color-light-white;
        background-color: $color-violet;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        line-height: 24.3px;

        &:hover {
            background-color: var(--backColor-hover);
        }
    }
}